{% extends 'main/layout.html' %}

{% block title %}Статистика{% endblock %}

{% load static %}

{% block pagename %}
<h1>Статистика</h1>
{% endblock%}

{% block main_content %}
<div class="row">
    <div class="col-md-12">
        <div class="title-panel">
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
      document.addEventListener("DOMContentLoaded", function() {
  drawChart();
});
        function drawChart() {
          var dataString = '{{ data|safe }}'
          var data = JSON.parse(dataString);
          var body = document.querySelector('body');
          var themeDiv = document.body;

          if (themeDiv.classList.contains('dark')) {
            // Темная тема
            var titleColor = '#fff';
            var tickColor = '#fff';
          } else {
            // Светлая тема
            var titleColor = '#2E2E2E';
            var tickColor = '#2E2E2E';
          }
          var labels = [];

          var activeData = [];
          var closedData = [];
          var snoozedData = [];

          var uniqueLabels = Array.from(new Set(data.labels));
          uniqueLabels.sort(); // Сортировка дат по возрастанию

          for (var i = 0; i < uniqueLabels.length; i++) {
            var label = uniqueLabels[i];
            var activeCount = data.datasets[0].data.filter(function (date) {
              return date === label;
            }).length;
            var closedCount = data.datasets[1].data.filter(function (date) {
              return date === label;
            }).length;
            var snoozedCount = data.datasets[2].data.filter(function (date) {
              return date === label;
            }).length;

            labels.push(label);
            activeData.push(activeCount);
            closedData.push(closedCount);
            snoozedData.push(snoozedCount);
          }

          var chartData = {
            labels: labels,
            datasets: [
              {
                label: data.datasets[0].label,
                data: activeData,
                backgroundColor: "rgba(75, 192, 192, 0.2)",
                borderColor: "rgba(75, 192, 192, 1)",
                borderWidth: 3,
                tension: 0.3,
              },
              {
                label: data.datasets[1].label,
                data: closedData,
                backgroundColor: "rgba(255, 99, 132, 0.2)",
                borderColor: "rgba(255, 99, 132, 1)",
                borderWidth: 3,
                tension: 0.3
              },
              {
                label: data.datasets[2].label,
                data: snoozedData,
                backgroundColor: "rgba(54, 162, 235, 0.2)",
                borderColor: "rgba(54, 162, 235, 1)",
                borderWidth: 3,
                tension: 0.3
              }
            ]
          };

var options = {
  responsive: true,
  scales: {
    x: {
      title: {
        display: true,
        text: 'Дата',
        color: titleColor,
      },
      ticks: {
        color: tickColor,
      }
    },
    y: {
      title: {
        display: true,
        text: 'Количество заявок',
        color: titleColor,
      },
      ticks: {
        stepSize: 1,
        color: tickColor,
      }
    }
  },
  plugins: {
    title: {
      display: true,
      text: 'График заявок по датам',
      color: titleColor,
    },
    legend: {
      labels: {
        color: titleColor,
      }
    }
  }
};

  var ctx = document.getElementById("chart").getContext("2d");

  if (window.myChart) {
    window.myChart.destroy();
  }
  window.myChart = new Chart(ctx, {
    type: "line",
    data: chartData,
    options: options
  });

}



            </script>

        </div>
        <div class="layout-content">
            <button class="blue-button" id="filter-btn">
                Фильтры
                <svg class="bi bi-funnel" fill="currentColor" height="16" viewBox="0 0 16 16" width="16"
                     xmlns="http://www.w3.org/2000/svg">
                    <path
                            d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
                </svg>
            </button>
            <button class="blue-button" id="report-btn" onclick="sendReport()">
                PDF
                <svg style="margin-bottom: 3px; margin-left: 2px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-bar-graph" viewBox="0 0 16 16">
                  <path d="M10 13.5a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-6a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v6zm-2.5.5a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1zm-3 0a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-1z"/>
                  <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                </svg>
            </button>
            <script>
                function sendReportXLSX() {
    fetch('/report-xlsx', {
        method: 'GET'
    })
    .then(response => {
        if (response.ok) {
            return response.arrayBuffer();
        } else {
            throw new Error('Ошибка запроса');
        }
    })
    .then(buffer => {
        const file = new Blob([buffer], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
        const fileURL = URL.createObjectURL(file);
        window.open(fileURL, '_blank');
    })
    .catch(error => {
        console.error(error);
    });
}


            </script>
            <button class="blue-button" id="" onclick="sendReportXLSX()">
                XLSX
                <svg style="margin-bottom: 3px; margin-left: 2px" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-table" viewBox="0 0 16 16">
                  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
                </svg>
            </button>
            <script>
                function sendReport() {
    fetch('/report', {
        method: 'GET'
    })
    .then(response => {
        if (response.ok) {
            return response.blob();
        } else {
            throw new Error('Ошибка запроса');
        }
    })
    .then(blob => {
        const fileURL = URL.createObjectURL(blob);
        window.open(fileURL, '_blank');
    })
    .catch(error => {
        console.error(error);
    });
}
            </script>
            <div class="filter-form-conversations" id="q1s1">
                <form action="" class="filter-form" method="get">
                    <div class="filters-boxes">
                        <div class="filters-up-row" style="margin-top: 15px;">
                            {% if user.groups.all.0.name != 'Поддержка'%}
                            <div class="user_box filter-box">
                                <label for="user_name">Назначена на сотрудника</label>
                                <input class="" id="user_name" name="user_name" placeholder="Введите имя пользователя"
                                       type="text"
                                       value="{{ recipient }}">
                            </div>
                            {% endif %}
                            <div class="date-box-1 filter-box">
                                <label for="date_start">Заявки от</label>
                                <input type="text" class="form-control forms-stat-date flatpickr-input" id="date_start"
                                       name="date_start" placeholder="дд.мм.гг" autocomplete="off"
                                       value="{{ date_start }}">
                            </div>
                            <script>
                document.addEventListener('DOMContentLoaded', function() {
                  flatpickr('#date_start', {
                    dateFormat: 'Y-m-d',
                    placeholder: 'дд.мм.гг'
                  });
                });

                            </script>
                            <div class="date-box-1 filter-box">
                                <label for="date_end">Заявки до</label>
                                <input type="text" class="form-control forms-stat-date flatpickr-input" id="date_end"
                                       name="date_end" placeholder="дд.мм.гг" autocomplete="off" value="{{ date_end }}">
                            </div>
                            <script>
                document.addEventListener('DOMContentLoaded', function() {
                  flatpickr('#date_end', {
                    dateFormat: 'Y-m-d',
                    placeholder: 'дд.мм.гг'
                  });
                });

                            </script>
                            <div class="btn-box filter-box">
                                <button class="blue-button submit-btn-filter btn-stat-filter" id="w131" type="submit">Фильтровать
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div id="data" style="display: none;">{{ data|safe }}</div>
            <div class="container">

                <canvas id="chart">
                </canvas>
            </div>
        </div>
    </div>
</div>
<script>
          
  const filterBtn = document.getElementById('filter-btn');
  const filterBox = document.getElementById('q1s1');

  filterBtn.addEventListener('click', (event) => {
    filterBox.classList.toggle('hidden');
  });



</script>
{% endblock %}