* {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #fff;
}

body {
    background: #2c2c2c;

}

aside {
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    float: left;
    align-items: center;
    background: #181818;
    width: 20%;
    padding: 2,5%;
    height: 100vh;
    position: fixed;
    border-right: 2px solid #4d4d4d;
}

aside img {
    margin-top: 20px;
    width: 40%;
    float: left;
}

aside .logo {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

aside .logo-down {
    margin-top: 0px;
}

aside .logo-up {
    margin-bottom: 0px;
}

aside ul {
    list-style: none;
}

aside a {
    text-decoration: none;
}

aside ul li {
    color: #fff;
    margin-top: 20px;
    display: block;
    transition: transform .6s ease;
}

aside ul li i {
    padding-right: 5px;
}


aside ul li:hover, aside a:hover {
    color: #54ACFE;
    transform: scale(1.05);
}

.topline {
    width: 100%;
    height: 7vh;
    color: white;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.topline-content {
  display: flex;
    padding: 10px;
    width: 100%;
    height: 7vh;
}

.topline-content h1 {
    font-size: 25px;
}

main {
  padding-left: 20.5%;
}

main .layout-panel {
    position: relative;
}

main .layout-panel .layout-content {
    padding: 20px;
}

main .layout-panel .layout-content h1 {
    color: white;
    font-size: 20px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}


.register-form {
  max-width: 450px;
  margin: 0 auto;
  padding: 50px;
  background-color: #232323;
  border-radius: 20px;
  margin: auto;
}

.register-form label {
   color: white;
   font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   font-size: 15px;
}

.register-form a {
  text-decoration: none;
  color: #54ACFE;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 15px;
  display: block;
  text-align: center;
  padding: 20px 0;
}
/*Register form styles*/
.register-form
input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: #202020;
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.filters-boxes
input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: #202020;
  width: 100%;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.new-conversation-form-box {
  display: flex;
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.new-conversation-form {
  width: 100%;
}

.new-conversation-form-box
input[type="text"],
input[type="email"],
input[type="password"] {
  background-color: #202020;
  width: 100%;
  padding: 5px;
  margin: 5px 0 15px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.registration-btn {
  background-color: #54ACFE;
  color: white;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 15px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 15px;
  display: block;
}

.registration-btn:hover
{
  transition: transform .6s ease;
  transform: scale(1.05);
}

.register-form a:hover {
  transition: transform .6s ease;
  transform: scale(1.05);
}

.register-form img {
    display: block;
    margin-top: 20px;
    width: 22%;
    float: center;
    margin: 0 auto;
}

.register-form h1 {
    color: white;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 15px;
    text-align: center;
    font-weight: normal;
}

.errors p {
    color: #FBFF49;
    font-size: 15px;
    padding: 0 0;
    margin: 0 0 15px 0;
}

.table {
    width: 100%;
}

.col-md-8 {
  background-color: rgba(15, 41, 84, 0.189);
  border-radius: 5px;
  padding: 0px;
  width: 90%;
  margin-top: 10px;
}

.conversation-title {
  margin: 10px;

}

.chat-box {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  height: 70vh;
  margin-top: 0;
}

.message-box {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 40%;
}

.message-right {
   align-self: flex-end;
   background-color: #54ACFE;
   margin-right: 15px;
}

.message-left {
   align-self: flex-start;
   background-color: #3f618c;
   margin-left: 15px;
}

.message-box .message-sender {
  font-weight: bold;
  margin-bottom: 5px;
}

.message-box .message-text {
  display: inline-block;
  width: auto;
  max-width: 100%;
  word-wrap: break-word;
}

.message-box .message-timestamp {
  font-size: 12px;
  color: white;
  margin-top: 5px;
  text-align: right;
}

.send-message-form {
  display: flex;
  justify-content: flex-start;
  border-radius: 5px;
  background-color: #333;
  padding: 10px 21px;
}

.send-message-form button {
  background-color: #54ACFE;
  color: #fff;
  border: none;
  padding: 0 5px;
  max-height: 50px;
  border-radius: 5px;
  margin-left: 5px;
  align-self: right;
  width: 15%;
}

.send-message-form textarea {
  color: white;
  overflow-y: auto;
  display: inline;
  background-color: #222;
  height: 50px;
  border: 0;
  resize: none;
}

.send-message-form textarea:active {
  color: white;
  overflow-y: auto;
  display: inline;
  background-color: #222;
}

.send-message-form textarea:focus {
  color: white;
  overflow-y: auto;
  display: inline;
  background-color: #222;
}

.send-message-form textarea::-webkit-scrollbar {
  width: 10px;
}

.send-message-form textarea::-webkit-scrollbar-thumb {
  background-color: #282828;
  border-radius: 5px;
}

.send-message-form textarea::-webkit-scrollbar-thumb:hover {
  background-color: #444;
}

.send-message-form textarea::-webkit-scrollbar-track {
  background-color: #222;
  border-radius: 5px;
}

.send-message-form p {
  width: 80%;
  margin: 0;
  padding: 0;
}

.chat-box::-webkit-scrollbar {
  width: 10px;
}

.chat-box::-webkit-scrollbar-thumb {
  background-color: #282828;
  border-radius: 10px;
}

.chat-box::-webkit-scrollbar-thumb:hover {
  background-color: #444;
}

.chat-box::-webkit-scrollbar-track {
  background-color: #333;
  border-radius: 10px;
}

.conversations-all {
  font-size: 20px;
  margin: 20px 0 10px 5px;
}

.filter-form-conversations {
  font-size: 15px;
}

.hidden {
  display: none;
}

.filters-boxes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.filters-up-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
   align-items: center;
}

.filters-bot-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.filter-box {
  padding: 5px 10px 5px 5px;
}

.filter-box input[type="text"] {
  padding: 5px;
}

.submit-btn-filter {
  background-color: #54ACFE;
  color: white;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  margin-top: 11px;
}

.create-conv-bnt {
  margin-top: 0px;
}

.number-box {
  margin-top: 15px;
  width: 200px;
}

.forms-stat-date {
  margin-top: 4px;
  height: 34px;
  background-color: #222;
  color: white;
  padding: 3px 5px 5px 5px;
  width: 193px;
}

.blue-button {
  background-color: #54ACFE;
  color: white;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 15px 0 0 5px;
  padding: 7px;
  padding-left: 10px;
  text-decoration: none;
}

.nav-icon {
  margin-right: 5px;
  margin-bottom: 2px;
}

.logout-btn {
  color: #dc143c;
  font-size: 15px;
  cursor: pointer;
  padding: 4px;
  text-decoration: none;

}

.topline-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-name {
  margin-right: 5px;
}

.bi-box-arrow-right {
  margin-bottom: 2px;
  fill: #dc143c;
}

.bi-plus-circle {
  margin-bottom: 2px;
}

.status-option {
  background-color: #222;
}

.form-control:active {
  background-color: #222;
  color: white;
}

.form-control:focus {
  background-color: #222;
  color: white;
}

.conversation-topline {
  display: flex;
  flex-direction: row;
  background-color: #333;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.message-form-select {
  margin-top: 15px;
  max-width: 140px;
}

.row {
  display: flex;
  width: 100%;
  margin-right: 10px;
}

.page-name h1 {
  margin-bottom: 0;
}

.additional {
  width: 20px;
}

.attachments {
  max-height: 100%;
  max-width: 100%;
}

.attachment-img {
  max-height: 100%;
  max-width: 100%;
}